<div class="container-fluid">
 
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <h1>Eat-Da-Burger!!!</h1>
            <p id="error"></p>
            <form>
                <label for="burger_name">Burger Name:</label>
                <input type="text" id="burger_name" name="burger_name">
                <button type="submit" class="btn btn-primary" id="order-button">Order</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 plateDiv" id="plate">

            <h2 class="plateTitle">Ready to Devour!</h2>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/plate devoured=true}}
            {{/unless}}
            {{/each}}

        </div>
        <div class="col-2"></div>
        <div class="col-4 plateDiv">
            <h2 class="plateTitle">Devoured!</h2>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/plate devoured=false}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>