  
  body {
    background-image: url("/public/assets/img/Best-Burger-5.jpg");
    background-size: cover;
    background-color: aqua;
}
h1 {
    text-align: center; 
    margin-top: 5px;
    font-size:35px;

  }
 
   #burgerName {
      padding-right: 30px;
      color:black;
      border: 2px solid blue;
   }
  #burger_name {
    color:black;
    border: 2px solid blue
  }
  
   #plateTitle {
      font-weight: bolder;
      position: absolute;
      font-size: 25px;
   }
  
   .plateDiv {
       background: rgba(213, 248, 85, 0.562);
       padding: 10px 20px;
       font-family: 'Righteous', cursive;
       font-size: 18px;
       font-weight: 500;
       margin-bottom: 30px;
       border: 2px solid blue;
       border-radius: 7px;
   }
  
   .plateTitle {
      font-size: 25px;
      padding: 20px;
      text-align: center;
   }
  
   .burgers {
      padding: 5px;
  }
  
   .eatButton {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bolder;
      color: grey;
      border-radius: 3px;
      background: #f1ff2bd8;
      margin: 10px;
      padding: 5px 6px;
   }
  
  .text-center {
      margin: 20px auto;
      font-family: 'Turret Road', cursive;
      font-size: 20px;
  }
  
  form {
      margin: 10px auto;
      border:black;
  }
  
  input {
      background: rgba(255, 255, 255, 0.712);
      border: none;
      border-radius: 2px;
      height: 30px;
      padding: 8px 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 13px;
      width: 250px;
  }
  
  #order-button{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 12px;
      background: rgba(4, 31, 185, 0.562);
      color: rgb(255, 255, 255);
      border: none;
  }